<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>J2EE_Demo</display-name>
  <listener>
    <listener-class>com.listenerTest.MyListener</listener-class>
  </listener>
  <context-param>
    <param-name>breed</param-name>
    <param-value>ALS</param-value>
  </context-param>
  <servlet>
    <servlet-name>ListenerTest</servlet-name>
    <servlet-class>com.listenerTest.ListenerTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListenerTest</servlet-name>
    <url-pattern>/ListenerTest</url-pattern>
  </servlet-mapping>
</web-app>